<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.celia.projet_provider">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <provider
            android:name=".RestoContentProvider"
            android:authorities="com.example.celia.projet_provider"
            android:enabled="true"
            android:exported="true">

        </provider>

    </application>

</manifest>
